@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery-thumbnail {
  width: 120px;
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}

.fullscreen {
  top: 50%;
  transform: translateY(-50%);
}

.fullscreen > .image-gallery-slide-wrapper > .custom-left-nav {
  left: 100px;
}
.fullscreen > .image-gallery-slide-wrapper > .custom-right-nav {
  right: 100px;
}

.fullscreen > .image-gallery-slide-wrapper > .custom-fullscreen-button {
  right: 100px;
}

.bg-paper {
  background-image: url("/images/paper.png");
  background-size: 1000px 1400px;
}
